/* */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$principal: 'Open Sans', sans-serif;
$principalCor: #000000;
$principalSize: 0.8em;

$tituloFont: 'Open Sans', sans-serif;
$tituloCor: #ffffff;
$tituloSize: 0.8em;

$descFont: 'Open Sans', sans-serif;
$descCor: #ffffff;
$descSize: 0.8em;

$topNavFont: 'Open Sans', sans-serif;
$topNavFontCor: #ffffff;
$topNavFontSize: 0.8em;

$navFont: 'Open Sans', sans-serif;
$navFontCor: #ffffff;
$navFontSize: 0.8em;

$headerFont: 'Open Sans', sans-serif;
$headerFontCor: #ffffff;
$headerFontSize: 0.8em;

$postFont: 'Open Sans', sans-serif;
$postFontCor: #ffffff;
$postFontSize: 0.8em;

$compTituloFont: 'Open Sans', sans-serif;
$compTituloFontCor: #000000;
$compTituloFontSize: 0.8em;
$compTituloTransform: uppercase;

$menuFooterFont: 'Open Sans', sans-serif;
$menuFooterFontCor: #ffffff;
$menuFooterFontSize: 0.8em;

$endFont: 'Open Sans', sans-serif;
$endFontCor: #ffffff;
$endFontSize: 0.8em;