<section id="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-4 links">
              <ul>
                  <li> Caminho Neocatecumenal<br>
                   <a href="http://www.camminoneocatecumenale.org/" target="_blank">http://www.camminoneocatecumenale.org/</a>
                  </li>
                  
                  <li> Seminário Redemptoris Mater de Brasília:<br>
                   <a href="http://www.rmater.org.br/" target="_blank">http://www.rmater.org.br/</a>
                  </li>
                  
                  <li> Seminário Redemptoris Mater de São Paulo <br>
                   <a href="http://srmsaopaulo.org/" target="_blank">http://srmsaopaulo.org/</a>
                  </li>
                  
                  <li> Seminário Redemptoris Mater de Belém <br>
                   <a href="http://rmaterbelem.org.br/" target="_blank">http://rmaterbelem.org.br/</a>
                   </li>
                  
                  <li> Orquestra Sinfônica do Caminho Neocatecumenal <br>
                   <a href="http://www.oscnc.org/" target="_blank">www.oscnc.org/</a>
                  </li>
                  
                  <li> Celebração sinfônica-catequética “O Sofrimento dos Inocentes” que se realizará em Soria, Espanha, em 27 de maio de 2018 <br>
                   <a href="http://www.soriaconcierto.es/" target="_blank">www.soriaconcierto.es</a>
                   </li>
               <li></li>
            </ul>
          </div>
          <div class="col-md-4 links">
            <ul>
              <li>Centro Neocatecumenal de Brasilia: <br><a href="mailto:cncbrasilia@gmail.com">cncbrasilia@gmail.com</a> </li> 
              <li>Imprensa: <br><a href="mailto:comunicacao.cncbrasil@gmail.com">comunicacao.cncbrasil@gmail.com</a> </li> 
            </ul>
          </div>
          <div class="col-md-4 redessociais">
            <p>Redes Sociais:</p>
            <ul>
              <li><a href="https://www.facebook.com/CaminhoNeocatecumenalnoBrasil/" target="_blank"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/Brasil_CNC" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCWW_zJeJrbFHb8Q3fED0pOQ" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
            </ul>
          </div>
      </div>
  </div>
</section>