<app-header></app-header>
<section id="posts">
    <div class="container">
      <div class="row">
        <div class="col-md-12 notas neocat">
          <h3 class="d-none d-sm-block">NOTAS OFICIAIS</h3>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4">
            <div class="posts">
              <a routerLink="/sinfonia-alemanha"><img src="../../../assets/img/sinfonia/alemanha.jpg" alt="lançamentos" class="img-fluid"></a>
              <h5>O Sofrimento dos Inocentes: Alemanha <br> <small><small>Transmissão ao vivo<br>original sem tradução<br>10/6/18 às 15h horário do Brasil</small></small></h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="posts">
              <a routerLink="/sinfonia-soria"><img src="../../../assets/img/sinfonia/soria.jpg" alt="lançamentos" class="img-fluid"></a>
              <h5>Concerto em Soria:<br>Sinfonía</h5>
              <p>
                  Realizada na Diocese de Osma-Soria
                    | Presidida pelo Bispo: Mons. Abilio Martínez Varea
                    | Dia: Domingo 27 de maio de 2018
                    | Lugar: Concatedral de San Pedro – Soria (España)
                    | Hora: 17:00
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="posts">
              <a routerLink="/papa50anos"><img src="../../../assets/img/geral/papa-50anos.jpg" alt="lançamentos" class="img-fluid"></a>
              <h5>Papa aos neocatecumenais: em seu DNA a vocação da missão</h5>
              <p>“Somente uma Igreja desvinculada do poder e do dinheiro, livre de triunfalismos e clericalismos testemunha de forma crível que Cristo liberta o ser humano", disse Francisco.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="posts">
              <a routerLink="/celebracao50anos"><img src="../../../assets/img/geral/celebracao.jpg" alt="lançamentos" class="img-fluid"></a>
              <h5>Celebração 50 anos</h5>
              <p>Em 5 de maio, o Papa Francisco preside a Celebração em Ação de Graças pelos 50 anos do início do Caminho na diocese de Roma</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="posts">
              <a routerLink="/mercaba25comunidades"><img src="../../../assets/img/geral/25comunidades.jpg" alt="lançamentos" class="img-fluid"></a>
              <h5>25 comunidades enviadas</h5>
              <p>Receberam destino as 25 comunidades que serão enviadas em missão pelo Papa no próximo 5 de maio em Tor Vergata.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="posts">
              <a routerLink="/historia"><img src="../../../assets/img/geral/4.jpg" alt="lançamentos" class="img-fluid"></a>
              <h5>História</h5>
              <p>O Caminho Neocatecumenal começou nas favelas de Palomeras Altas, periferia de Madri, em 1964. Redescobrimento do Batismo.</p>
            </div>
          </div>
        </div>
    </div>
</section>