<section id="header" class="d-none d-sm-block">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="cinquenta">
              <img src="../../../assets/img/geral/50anos.png" alt="lançamentos" class="img-fluid">
            </div>
          </div>
          <div class="col-md-4">
            <div class="video">
                 <a routerLink="/sinfonia-alemanha"><img src="../../../assets/img/sinfonia/alemanha.jpg" alt="lançamentos" width="100%" class="img-fluid"></a>
            </div>
          </div>
          <div class="col-md-4">
              <div class="video">
                <h5>Filarmônica de Berlim recebe Celebração Sinfônico - Catequética </h5>
                <p><span>Transmissao ao vivo original sem tradução<br>em  10/6/18 às 15h horário do Brasil</span></p>
                <p>"O Sofrimento dos Inocentes" em comemoração aos 40 anos do Caminho Neocatecumenal na diocese alemã. <a routerLink="/sinfonia-alemanha"><span><i class="fab fa-youtube"></i> Assistir</span></a></p>
              </div>
            </div>
        </div>
    </div>
</section>