<section>
  <div class="content">
    <div class="row">
      <div class="col-md-6 offset-md-3 corpo-str">
        <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/gKOh2J2CTBo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            <h5> Celebração sinfônica-catequética “O Sofrimento dos Inocentes” que se realizará em Soria, Espanha, em 27 de maio de 2018 <br>
              <a href="http://www.soriaconcierto.es/" target="_blank">www.soriaconcierto.es</a></h5>
              
        </div>
      </div>
    </div>
  </div>
</section>