@font-face {
    font-family: 'Neocat-Regular_3.0';
    src: url('Neocat-Regular_3.0.ttf');
    src: url('Neocat-Regular_3.0.ttf') format('embedded-opentype'),
      url('Neocat-Regular_3.0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
