<section>
  <div class="content">
    <div class="row">
      <div class="col-md-6 offset-md-3 corpo-post">
        <p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/3D9-5nx1Q08" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </p>
        <p class="titulo">Caminho Neocatecumenal celebra 40 anos em Berlim com um concerto na<br>
            Filarmônica e a apresentação do livro de Kiko Argüello
        </p>
        <p>Transmissao ao vivo original sem tradução em 10/6/18 às 15h horário do Brasil</p>
        <p>
            <span class="subtitulo">Berlin</span> – O Caminho Neocatecumenal celebrará neste sábado, 9 de junho, e no
            domingo, 10, o aniversário de 40 anos de vida em Berlim com diversos eventos. Será
            comemorado com a Eucaristia de Ação de Graças, a apresentação do livro “Anotações”
            do iniciador do Caminho e responsável internacional, Kiko Argüello, e a Celebração
            Sinfônico-Catequética “O Sofrimento dos Inocentes”, cuja música é composta pelo
            mesmo, na prestigiosa Filarmônica de Berlim.
        </p>
        <p class="subtitulo">
            Ação de Graças
        </p>
        <p>
            A Eucaristia de Ação de Graças será no sábado, 9, às 20h (hora local), na Catedral de
            St. Hedwig, em Berlin-Mitte. Será presidida pelo Arcebispo Mons. Heiner Koch, e
            concelebrada pelo Cardeal Paul Josef Cordes e pelo Arcebispo emérito de Madri,
            Cardeal Antonio María Rouco Varela. Mons. Koch expressou o desejo de agradecer ao
            Caminho Neocatecumenal pelos 40 anos de Nova Evangelização.
        </p>
        <p>
            Está prevista a presença de centenas de pessoas de toda Alemanha.
        </p>
        <p class="subtitulo">
            Kiko Argüello apresenta o livro “Anotações”
        </p>
        <p>
            Com mais de 35 mil cópias vendidas em vários idiomas, “Anotações” reúne reflexões,
            pensamentos, poesias e sofrimentos do autor, Kiko Argüello, entre os anos 1988 e 2014.
        </p>
        <p>
            Kiko apresentará a versão em Alemão, no domingo, às 16h30 (hora local) na Academia
            Católica de Berlim.
        </p>
        <p>
            Participará do evento o Arcebispo emérito de Madri, Cardeal Antonio María Rouco
            Varela, que oferecerá algumas chaves desta obra que conta com um epílogo do Cardeal
            Gerhard Müller, Prefeito emérito da Congregação para a Doutrina da Fé, que apresentou
            a obra em Roma, em novembro de 2016.
        </p>
        <p>
            O Cardeal Müller escreve que “os Papas analisaram, acompanharam e promoveram o
            Caminho Neocatecumenal e várias fases”. “Foi o Papa Bento XVI que, no dia 11 de
            maio de 2008, concedeu a aprovação canônica aos estatutos do Caminho, reconhecendo
            assim, o carisma dos fundadores como ação do Espírito Santo para a edificação
            espiritual e pastoral da Igreja e aprovando esse caminho de evangelização do mundo e
            de uma nova evangelização para os católicos batizados”.
        </p>
        <p>
            “As Anotações 1988-2014, escritas por Kiko Argüello, contidas no livro, não oferecem
            reflexões sistemáticas ou fragmentadas sobre os temas da fé e da teologia. São,
            entretanto, o testemunho de um caminho interior da alma e dos esforços por conseguir a
            confiança em Deus, assim como a união com o Senhor crucificado e sofredor”.
        </p>
        <p>
            “Mas, quanto bem se pode fazer com este livro!”, escreve o Cardeal Müller.
            No prefácio, o Cardeal Cordes afirma que “as anotações de Kiko não são somente uma
            chave para poder compreender o Neocatecumenato, mas além deste movimento
            espiritual, podem representar estímulos úteis para o apostolado em geral”.
        </p>
        <p>
            O Cardeal acrescenta que “o autor, em suas anotações, abre o profundo de sua alma” e
            sublinha que “o carisma que o Espírito Santo confiou aos iniciadores do Neocatecumenato, contagiou, em força do mesmo Espírito, a muitos outros. Enquanto
            isso, sua difusão é impressionante”.
        </p>
        <p>
            A versão brasileira do livro tem o prefácio escrito pelo Arcebispo de São Paulo Cardeal
            Odilo Pedro Scherer.
        </p>
        <p>
            Por sua parte, Kiko Argüello explica que decidiu publicar suas “anotações” para
            “proclamar a glória de Deus, dando testemunho de seu amor gratuito e sua fidelidade
            incondicional para comigo que, como se poderá comprovar, sou inadequado, indigno,
            inútil, infiel...”. “Se estas anotações ajudam a alguém, bendito seja Deus”, acrescenta o
            iniciador e responsável internacional do Caminho.
        </p>
        <p>
            “Anotações” é o segundo livro de Argüello depois da publicação, em 2013, d’ “O
            Kerigma, nas favelas com os pobres”, traduzida em mais de 25 idiomas e com milhões
            de cópias vendidas.
        </p>
        <p class="subtitulo">
            A prestigiosa Filarmônica de Berlim recebe “O Sofrimento dos Inocentes”
        </p>
        <p>
            Nova York, Boston, Chicago, Auschwitz, Madri, Paris, Vaticano, Israel, Tóquio e
            Fukushima são apenas alguns lugares em que se pôde escutar a Sinfonia composta por
            Kiko Argüello, “O Sofrimento dos Inocentes”.
        </p>
        <p>
            Nesta ocasião, a obra musical que descreve o sofrimento da Virgem Maria aos pés da
            cruz, viaja até Berlim, onde será apresentada para 2.200 pessoas.
        </p>
        <p>
            Será um evento muito especial organizado em nome do diálogo judaico-cristão,
            seguindo a vontade do Papa Francisco, que expressou em diversas ocasiões a
            necessidade de construir pontes entre ambas confissões.
        </p>
        <p>
            “De inimigos e estranhos passamos a ser amigos e irmãos”. “Os cristãos, para
            compreenderem a si mesmos, não podem não fazer referência às raízes judaicas. E a
            Igreja, ao professar a salvação através da fé em Cristo, reconhece a irrevogabilidade da
            Antiga Aliança e o amor constante e fiel de Deus por Israel”, afirmou Francisco durante
            sua visita a Sinagoga de Roma em 2016.
        </p>
        <p>
            Com esta Celebração Sinfônico-Catequética se recordará de modo especial as vítimas
            da Shoa, o Holocausto que acabou com a vida de mais de seis milhões de pessoas nas
            mãos do nazismo.
        </p>
        <p>
            Contará com a presença de várias autoridades, entre elas os cardeais anteriormente
            mencionados e o Arcebispo de Berlim, Mons. Heiner Koch.
        </p>
        <p>
            Estarão presentes também um grande número de rabinos e judeus que mostraram seu
            entusiasmo em contribuir com a reconciliação entre o cristianismo e o judaísmo.
        </p>
        <p>
            O rabino David Rosen, Diretor de Assuntos Inter-religiosos do Comitê Judaico dos
            Estados Unidos, Presidente Honorário do Conselho Internacional de Cristãos e Judeus e
            encarregado das relações com o Vaticano, que participou desta Celebra bração
            Sinfônico-Catequética em várias ocasiões, descreve o trabalho como uma “revolução na
            relação entre os cristãos e o povo de Israel”.
        </p>
        <p>
            O Caminho Neocatecumenal se revelou como um autêntico instrumento neste sentido e,
            entre suas iniciativas, há a realização de dois encontros internacionais de rabinos e
            cardeais, celebrados em 2015 e 2017, na casa Domus Galilaeae, situada no Monte das
            Bem- Aventuranças, na Terra Santa.
        </p>
        <p>
            A música de Kiko Argüello, que será interpretada pela Orquestra Sinfônica do Caminho
            formada por 110 músicos e 90 coristas, é dirigida pelo prestigiado diretor da orquestra
            Tomáš Hanus, de fama internacional.
        </p>
        <p class="subtitulo">
            O início do Caminho na Alemanha, graças a Bento XVI
        </p>
        <p>
            Depois que o então Joseph Ratzinger (Bento XVI) conheceu o Caminho
            Neocatecumenal através da equipe itinerante responsável, Toni e Bruna Spandri, em
            1975, pouco antes de ser nomeado Arcebispo de Munique, mostrou novamente seu
            apoio expressando o “forte desejo” de “que esta experiência possa iniciar na
            Alemanha”.
        </p>
        <p>
            Desde então, o Caminho se estendeu por distintas dioceses do país.
        </p>
        <p>
            O Caminho Neocatecumenal surgiu entre os pobres de Madri, Espanha, em 1964,
            através de Kiko Argüello e Carmen Hernández, que faleceu em 19 de julho de 2016.
            Atualmente, a equipe responsável internacional é formada por Kiko Argüello, María
            Ascensión Romero e Pe. Mario Pezzi.
        </p>
        <p>
            Esta realidade eclesial está presente em 134 nações dos cinco continentes, com 21.300
            comunidades em 6.270 paróquias, assim como 1668 famílias em missão que
            evangelizam em cidades descristianizadas do mundo todo, e com 120 seminários
            Diocesanos Missionários Redemptoris Mater.
        </p>
      </div>
    </div>
  </div>
</section>