<section>
  <div class="content">
    <div class="row">
      <div class="col-md-6 offset-md-3 corpo-post">
          <article>
              <img src="../../../../assets/img/geral/papa-50anos.jpg" alt="lançamentos" class="img-fluid">
              <p class="titulo">Papa aos neocatecumenais: em seu DNA a vocação da missão</p>
              <i>“Somente uma Igreja desvinculada do poder e do dinheiro, livre de triunfalismos e clericalismos testemunha de
                forma crível que Cristo liberta o ser humano", disse Francisco.</i>
  
              <div><br>
                <p>
                  <b>Cidade do Vaticano</b>
                </p>
                <p>O Papa Francisco encontrou-se com o Caminho Neocatecumenal, na manhã deste sábado (05/05), na esplanada de
                  Tor Vergata, bairro situado na periferia de Roma, pelos seus 50 anos de fundação.</p>
                <p>O encontro teve início às 11 locais, e Kiko Argüello, um dos fundadores do Caminho e responsável da equipe
                  internacional, fez a introdução. O lugar escolhido para o local foi a área universitária de Tor Vergata,
                  situada na periferia de Roma, em homenagem a São João Paulo II, que durante os seus 26 anos de pontificado
                  acolheu e apoiou o Caminho. Em Tor Vergata foi celebrada a inesquecível Jornada Mundial da Juventude do ano
                  2000.</p>
                <p>Depois de manifestar a sua alegria pelo encontro com os membros do movimento, o Papa ressaltou que “cinquenta
                  é um número importante na Bíblia: no quinquagésimo dia, o Espírito do Senhor Ressuscitado desceu sobre os
                  Apóstolos e mostrou ao mundo a Igreja.”</p>
                <p>
                  <b>Amor e fidelidade</b>
                </p>
                <p>“Queridos irmãos e irmãs, no final vocês cantarão o Te Deum de ação de graças pelo amor e a fidelidade de Deus.
                  É muito bonito isso: agradecer a Deus pelo seu amor e pela sua fidelidade. Muitas vezes, agradecemos pelos
                  seus dons, por aquilo que nos dá, e isso é bom. Mas é ainda melhor dar graças a Deus pelo que Ele é, Deus
                  fiel no amor. A sua bondade não depende de nós. Qualquer coisa façamos, Deus continua nos amando fielmente.
                  Esta é a fonte de nossa confiança, o grande consolo da vida. Portanto, coragem, e nunca fiquem tristes. Quando
                  as nuvens dos problemas forem pesadas em seus dias, recordem que o amor fiel de Deus brilha sempre, como
                  o sol sem ocaso. Recordem sempre o seu bem, mais forte que todo mal, e a lembrança do amor de Deus os ajudará
                  na angústia.”</p>
                <p>O Papa agradeceu aos membros do Caminho Neocatecumenal que estão para ir em missão, para a evangelização, prioridade
                  da Igreja hoje.</p>
                <p>
                  <b>Missão é dar voz ao amor</b>
                </p>
                <p>“Missão é dar voz ao amor fiel de Deus, é anunciar que o Senhor quer o nosso bem e que nunca se cansará de
                  nós, deste nosso mundo. Missão é doar aquilo que recebemos. Missão é cumprir o mandato de Jesus que ouvimos:
                  “Ide, portanto, e fazei que todos as nações se tornem discípulos.”</p>
                <p>“A missão requer a partida, mas na vida é forte a tentação de permanecer, de não correr riscos, de ter a situação
                  sob controle. É mais fácil permanecer em casa, circundados por aqueles que nos querem bem, mas não é o caminho
                  de Jesus. Ide: um chamado forte que ressoa em todos os cantos da vida cristã; um mandato claro a estar sempre
                  em saída, peregrinos no mundo à procura do irmão que ainda não conhece a alegria do amor de Deus.”</p>
                <p>
                  <b>Para anunciar é preciso renunciar</b>
                </p>
                <p>“Para anunciar é preciso renunciar. Somente uma Igreja que renuncia ao mundo anuncia bem o Senhor. Somente
                  uma Igreja desvinculada do poder e do dinheiro, livre de triunfalismos e clericalismos testemunha de forma
                  crível que Cristo liberta o ser humano. E quem, por amor, aprende a renunciar às coisas que passam, abraça
                  este grande tesouro: a liberdade. Não tem apegos, sente que o coração se dilata, está disponível a Deus e
                  aos irmãos.”</p>
                <p>Jesus diz: “fazei que todos as nações se tornem discípulos”, ou seja, partilhem com os outros o dom que receberam,
                  o encontro de amor que mudou a sua vida. O coração da missão é testemunhar que Deus nos ama e que com Ele
                  é possível o amor verdadeiro, que doa a vida em todo lugar, na família, no trabalho, na consagração e no
                  matrimônio. Missão é tornar-se discípulos com os novos discípulos de Jesus. É redescobrir parte de uma Igreja
                  discípula. A Igreja é mestra, mas não pode ser mestra se antes não for discípula, assim como não pode ser
                  mãe se antes não for filha.”</p>
                <p>
                  <b>Caminho Neocatecumenal e seu DNA</b>
                </p>
                <p>“Eis a nossa mãe: uma Igreja humilde, filha do Pai e discípula do Mestre, feliz de ser irmã da humanidade.
                  Esta dinâmica do discipulado, o discípulo que torna discípulos, é totalmente diferente da dinâmica do proselitismo.”</p>
                <p>“Aqui está a força do anúncio, para que o mundo creia. Não contam os argumentos que convencem, mas a vida que
                  atrai; não a capacidade de se impor, mas a coragem de servir. Vocês têm em seu “DNA” esta vocação de anunciar
                  vivendo em família, seguindo o exemplo da Sagrada Família: em humildade, simplicidade e louvor. Levem esta
                  atmosfera familiar a tantos lugares desolados e sem afeto. Sejam reconhecidos como amigos de Jesus. Sejam
                  amigos de todos.”</p>
                <p>“Queridos irmãos e irmãs, o seu carisma é um grande dom de Deus para a Igreja do nosso tempo. Demos graças
                  a Deus por estes cinquenta anos. Olhando para a sua paterna, fraterna e fidelidade amorosa, nunca percam
                  a confiança. Ele os protegerá, incentivando-os ao mesmo tempo a ir, como discípulos amados, a todos os povos,
                  com simplicidade humilde.”</p>
                <p>
                  <b>Festa da fé</b>
                </p>
                <p>Os membros do Caminho Neocatecumenal vieram de 134 nações onde o movimento está presente, junto com 16 cardeais
                  e 90 bispos de várias partes do mundo.</p>
                <p>Durante o encontro, o Pontífice abençoou as cruzes e entregou aos responsáveis 34 novas missões ad gentes que
                  levarão o Evangelho ao mundo.</p>
                <p>Por fim, foi recordada Carmen Hernández uma das fundadoras do Caminho Neocatecumenal junto com Kiko Argüello,
                  falecida em 19 de julho de 2016, em Madri, Espanha.</p>
                <div>
                  <div class="article__embed article__embed--unwrap article__embed--dark">
                    <div class="article__innerTitle">
                      Papa encontra o Caminho Neocatecumenal
                    </div>
                    <audio src="https://media.vaticannews.va/media/audio/s1/2018/5/5/17/134420269_F134420269.mp3" controls="" preload="none"></audio>
                  </div>
                </div>
                <p>&nbsp;</p>
              </div>
            </article>
            <small><a href="https://www.vaticannews.va/pt/papa/news/2018-05/papa-caminho-neocatecumenal-dna-vocacao.html" target="_blank">Fonte: News Va</a></small>
      </div>
    </div>
  </div>
</section>